<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" href="https://media.discordapp.net/attachments/768993158292832297/769231577334415410/LEADERBOARDS.png?width=422&height=422"
	/>
</head>

<body>
	<div id="outer">
		<div id="header">
			<img src="https://media.discordapp.net/attachments/768993158292832297/769231577334415410/LEADERBOARDS.png?width=422&height=422" alt="Logo" />
	  	    <strong><p>Nitrotype Leaderboard</p></strong>
		</div>
  	</div>
  	<nav id="navbar">
        <a href="/" class="activeNav navLink link">Home</a>
        <a href="about.html" class="navLink link">About</a>
        <a href="https://www.nitrotype.com/racer/lbbank"  class="navLink link">Donate</a>
        <div class="dropdown">
            <button class="dropbtn">Sign Up
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/signup/player">Players</a>
                <a href="/signup/team">Teams</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Leaderboards
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/leaderboard/player">Players</a>
                <a href="/leaderboard/team">Teams</a>
            </div>
        </div>
  	</nav>
   <div id="main">
      <div class="section" id="section1">
        <section id="helloImage">
            <img src="https://cdn.discordapp.com/attachments/763133667273867266/768166854635552778/lb.png" alt="Leaderboard image" />
        </section>
        <section class="sectionText" id="helloText">
            <h1>Hello!</h1>
            <h2>Welcome to the new Nitro Type leaderboards</h2>
            <p>
                Everyone has heard the news that the offical Nitro Type leaderboards will be removed by Dec 3<sup>rd</sup>. Our developers have decided to make a new leaderbaord. Right now, its a work in progress.
            </p>
        </section>
    </div>
        <div class="section" id="section2">
        <section id="signUpImage">
            <img  src="https://cdn.discordapp.com/attachments/763133667273867266/768472744144535573/unknown.png" alt="NitroType Competitive Racing Image" />
        </section>
        <section class="sectionText" id="signUpText">
            <h1>Sign Up</h1>
            <h2>Get more out of the leaderboards</h2>
            <p>
                At the moment, to join the Nitro Type leaderboards, you will have to <a id="signliceUpLink" class="link" href='/signup'>sign up</a>! This website is still under maintanence, our staff team is trying our best to make the new leaderboards look like the old  one we had and loved!
            </p>
        </section>
     </div>
    </div>
	</div>
    <footer>
      All code copyrighted. All rights reserved. ADL212, HalloMallo, IPSDSILVA INC., License may be viewed<a href="https://NTLB.adl212.repl.co/license"> here </a>.</footer>
  </body>
</html>