<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leaderboards</title>
	<link rel="stylesheet" type="text/css" href="/static/leaderboard.css" />
	<link rel="icon" href="https://media.discordapp.net/attachments/768993158292832297/769231577334415410/LEADERBOARDS.png?width=422&height=422" />
</head>

<body>

  <div id="outer">
    <table>
      <tr id='tableHeader'>
        <th>Car</th>
        <th>Display Name</th>
        <th>Races</th>
        <th>Speed</th>
        <th>Accuracy</th>
        <th>Points</th>
      </tr>
      <div id="table">
        
      </div>
    </table>
  </div>

  <script src="/static/leaderboard.js" type="text/javascript"></script>
</body>
</html>