<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/signup.css"></link>
  <link rel="icon" href=""
  <title>Sign Up</title>
</head>

<body>
    <h1 style="text-align: center;">Nitrotype Leaderboard</h1>
    <div id="outer">
		<div id="header">
			<img src="https://media.discordapp.net/attachments/768993158292832297/769231577334415410/LEADERBOARDS.png?width=422&height=422" alt="Logo" />
		<strong><p>Nitrotype Leaderboard</p></strong>
	</div>
	<nav id="navbar">
    <a href="/" class="activeNav navLink link">Home</a>
    <a href="/about" class="navLink link">About</a>
    <a href="https://www.nitrotype.com/racer/lbbank" class="navLink link">Donate</a>
    <a href="/signup" class="navLink link">Sign Up</a>
    <a href="/leaderboard" class="navLink link">Leaderboards</a>
	</nav>
    <br></br>
    <div style="text-align: center;">
        <button><a href="/signup/player" style="color: red;">Sign Up as Player</a></button>
        <button><a href="/signup/team" style="color: red;">Sign Up as Team</a></button>
    </div>
  </body>
</html>